:root {
    --header-color: #FED100;
    --hero-bg-color: #FED100;
    --process-bg-color: #FFFFFF;
    --prices-bg-color: #F8FBFF;
    --text-color: #333333;

    --button-bg-color: #FF352B;
    --button-active-bg-color: #FF772B;

}

html {
    font-size: 100%;
    font-family: "Montserrat", sans-serif;
    color: var(--text-color);
}

body {
    margin: 0;
    padding: 0;
    background-color: #FFFFFF;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    background-color: var(--header-color);
}

.header__container {
    width: 68.3%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

@media screen and (max-width: 768px) {
    .header__container {
        width: 92%;
    }
}

@media screen and (max-width: 320px) {
    .header__container {
        width: 100%;
    }
}

.header__logo {
    display: flex;
    align-items: center;
    padding: 10px 14px;

}

.header__logo a {
    font-weight: 600;
    font-size: 1.875rem;
    color: var(--text-color);
    text-decoration: none;
}

@media screen and (max-width: 768px) {
    .header__logo a {
        font-size: 2rem;
    }
}

@media screen and (max-width: 320px) {
    .header__logo a {
        font-size: 1rem;
    }
}

.header__nav {
    display: flex;
    flex: 0.5;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
}

@media screen and (max-width: 768px) {
    .header__nav {
        display: none;
    }

}

.header__nav ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
    gap: 1rem;
}

.header__nav a {
    text-decoration: none;
    color: var(--text-color);
    font-weight: 500;
    font-size: 1.125rem;
}

.header__number {
    display: flex;
    align-items: center;
    justify-content: center;
}

@media screen and (max-width: 960px) {
    .header__number {
        display: none;
    }
}

.header__number a {
    color: var(--text-color);
    font-weight: 500;
    font-size: 1.125rem;
}

.header__burger {
    display: none;
}

@media screen and (max-width: 960px) {
    .header__burger {
        display: flex;
        position: relative;
        align-items: center;
    }

    .header__burger div {
        width: 100%;
        height: 4px;
        background-color: var(--text-color);
        position: absolute;
        left: 0;
    }

    .header__burger-img {
        width: 46px;
        height: 28px;
        position: relative;
        z-index: 1;
        padding: 14px;
    }
}

@media screen and (max-width: 320px) {
    .header__burger-img {
        width: 32px;
        height: 19px;
    }
}

/*hero block*/

.main__hero {
    padding-top: 4rem;
    background-color: var(--hero-bg-color);
    align-items: center;
}

.main__hero-container {
    width: 68.3%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    align-items: center;
}

@media screen and (max-width: 1300px) {
    .main__hero-container {
        width: 92%;
        grid-template-columns: 1fr;
        text-align: center;
    }
}

@media screen and (max-width: 320px) {
    .main__hero-container {
        width: 100%;
    }
}

.main__hero-title,
.main__hero-text,
.main__hero-button,
.main__hero-features {
    margin: 0;
}

.main__hero-left {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

@media screen and (max-width: 1300px) {
    .main__hero-left {
        align-items: center;
        text-align: center;
        gap: 1rem;
    }
}

.main__hero-title {
    font-weight: 700;
    font-size: 4.375rem;
    line-height: 105%;
    grid-area: title;
}

@media screen and (max-width: 768px) {
    .main__hero-title {
        font-size: 3.5rem;
    }
}

@media screen and (max-width: 500px) {
    .main__hero-title {
        font-size: 1.75rem;
    }
}

.main__hero-text {
    font-weight: 600;
    font-size: 1.875rem;
    line-height: 100%;
    grid-area: text;
}

@media screen and (max-width: 768px) {
    .main__hero-text {
        font-size: 2rem;
        font-weight: 600;
    }
}

@media screen and (max-width: 500px) {
    .main__hero-text {
        font-size: 1.125rem;
    }
}

.main__hero-button {
    position: relative;
}


.main__hero-button-link {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 304px;
    height: 60px;
    font-size: 1.125rem;
    font-weight: 600;
    color: white;
    background-color: var(--button-bg-color, #333);
    text-decoration: none;
    border: none;
    transform: translate(-4px, -4px);
    box-sizing: border-box;
    box-shadow:
        10px 10px 0px 0px var(--hero-bg-color),
        10px 10px 0px 2px white;
    transition: 0.2s linear;
}

@media screen and (max-width: 768px) {
    .main__hero-button-link {
        width: 383px;
        height: 76px;
        font-size: 1.875rem;
    }
}

@media screen and (max-width: 500px) {
    .main__hero-button-link {
        width: 292px;
        height: 60px;
        box-shadow: none;
        transform: translate(0px, 0px);
        font-size: 1.25rem;
    }
}

.main__hero-button-link:hover {
    background-color: var(--button-active-bg-color);
    box-shadow:
        10px 10px 0px 0px white,
        10px 10px 0px 2px white;
}

@media screen and (max-width: 500px) {
    .main__hero-button-link:hover {
        background-color: var(--button-active-bg-color);
        box-shadow: none;
    }
}

.main__hero-features {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
    gap: 3rem;
    grid-area: features;
}

@media screen and (max-width: 700px) {
    .main__hero-features {
        display: none;
    }

}

.main__hero-feature {
    gap: 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: left;
}

.main__hero-feature p {
    font-weight: 400;
    font-size: 1rem;
    line-height: 131%;
}

.main__hero-image {
    display: flex;
    align-items: center;
    justify-content: center;
}

.main__hero-image-img {
    max-width: 100%;
}

.main__hero-image-img1 {
    display: none;
}

@media screen and (max-width: 1300px) {
    .main__hero-image-img {
        display: none;
    }

    .main__hero-image {
        margin-top: -4rem;
        margin-bottom: -2rem;
        padding: 0;
    }

    .main__hero-image-img1 {
        display: block;
        max-width: 100%;
    }
}

/*process block*/

.main__process {
    margin-top: 6rem;
    background-color: var(--process-bg-color);
    align-items: center;
}

.main__process-container {
    width: 58%;
    margin: 0 auto;
    display: flex;
}

@media screen and (max-width: 1300px) {
    .main__process-container {
        width: 92%;
    }
}

@media screen and (max-width: 320px) {
    .main__hero-container {
        width: 100%;
    }
}

.main__process-title {
    text-align: center;
    font-weight: 600;
    font-size: 1.875rem;
    line-height: 100%;
    margin: 0;
    margin-bottom: 3.75rem;
}

@media screen and (max-width: 400px) {
    .main__process-title {
        font-size: 1.25rem;
        margin-bottom: 2.2rem;
    }
}

.main__process-steps {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 9rem;
    row-gap: 3rem;
    align-items: center;
}

@media screen and (max-width: 768px) {
    .main__process-steps {
        grid-template-columns: 1fr;
        row-gap: 2rem;
    }
}

.main__process-step {
    display: grid;
    grid-template-columns: max-content 1fr;
    grid-template-areas:
        "img title"
        "img text";
    column-gap: 1.85rem;
    row-gap: 1rem;
    align-items: start;
}

@media screen and (max-width: 400px) {
    .main__process-step {
        grid-template-columns: max-content 1fr max-content;
        grid-template-areas:
            "img title arrow";
        row-gap: 0.5rem;
        column-gap: 1rem;
        align-items: center;

    }

}

.main__process-step-img {
    display: flex;
    grid-area: img;
    margin: 0;
}

@media screen and (max-width: 768px) {
    .main__process-step-img {
        width: 5.75rem;
    }
}

@media screen and (max-width: 500px) {
    .main__process-step-img {
        width: 3.3rem;
    }
}

.main__process-step-title-text {
    grid-area: title;
    font-weight: 500;
    font-size: 1.25rem;
    line-height: 100%;
    margin: 0;
}

.main__process-step-title-text.short {
    display: none;
}

@media screen and (max-width: 720px) {
    .main__process-step-title-text {
        font-size: 1.5rem;
    }
}

@media screen and (max-width: 400px) {
    .main__process-step-title-text {
        font-size: 1rem;
        line-height: 130%;
    }

    .main__process-step-title-text.full {
        display: none;
    }

    .main__process-step-title-text.short {
        display: block;
    }
}

.main__process-step-text {
    grid-area: text;
    font-weight: 400;
    font-size: 1rem;
    line-height: 131%;
    margin: 0;
}

@media screen and (max-width: 400px) {
    .main__process-step-text {
        display: none;
    }
}

.main__process-step-arrow {
    display: none;
}

@media screen and (max-width: 400px) {
    .main__process-step-arrow {
        display: block;
        width: 1rem;
        height: 1rem;
        grid-area: arrow;
        justify-items: end;
        margin: 0;
    }
}

/*prices*/

.main__prices {
    margin-top: 6rem;
    padding-top: 3rem;
    padding-bottom: 4rem;
    background-color: var(--process-bg-color);
    align-items: center;
}

@media screen and (max-width: 1200px) {
    .main__prices {
        background-color: var(--prices-bg-color);
    }
}

.main__prices-title {
    text-align: center;
    font-weight: 600;
    font-size: 1.875rem;
    line-height: 100%;
    margin: 0;
}

@media screen and (max-width: 400px) {
    .main__prices-title {
        font-size: 1.25rem;
    }

}

.main__prices-subtitle {
    text-align: center;
    font-weight: 600;
    font-size: 1.5rem;
    line-height: 100%;
    margin: 0;
}

@media screen and (max-width: 400px) {
    .main__prices-subtitle {
        font-size: 1rem;
    }

}

.main__prices-container {
    width: 68.3%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1.5rem;
}

@media screen and (max-width: 400px) {
    .main__prices-container {
        width: 91%;
    }

}

.main__prices-container.text {
    width: 68.3%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-bottom: 3.75rem;
}

@media screen and (max-width: 1200px) {
    .main__prices-container.text {
        margin-bottom: 0;
    }
}

@media screen and (max-width: 400px) {
    .main__prices-container.text {
        width: 91%;
        margin-bottom: 0;
    }

}

.main__prices-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    max-width: 26.31rem;
    height: 36.1875rem;
    border: 1px solid #EBEBEB;
}

@media screen and (max-width: 1200px) {
    .main__prices-block {
        display: none;
    }
}

.main__prices-block.highlight {
    border: 1px solid #FED100;
}

@media screen and (max-width: 1200px) {
    .main__prices-block.highlight {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        width: 100%;
        border: none;
    }
}

@media screen and (max-width: 400px) {
    .main__prices-block.highlight {
        width: 100%;
        max-width: 100%;
        height: auto;
    }

}

.main__prices-block-title {
    margin-top: 5.25rem;
    font-weight: 600;
    font-size: 1.5rem;
    line-height: 100%;
}

@media screen and (max-width: 1200px) {
    .main__prices-block-title {
        margin-top: 3rem;
        font-weight: 500;
    }
}

@media screen and (max-width: 400px) {
    .main__prices-block-title {
        margin-top: 1.25rem;
        font-size: 1.125rem;
    }
}

.main__prices-block-text {
    font-weight: 400;
    font-size: 1rem;
    line-height: 131%;
}

.main__prices-block-details {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main__prices-block-price {
    font-weight: 600;
    font-size: 1.875rem;
    line-height: 100%;
}

.main__prices-block-button {
    max-width: 250px;
    width: 100%;
    height: 50px;
    text-align: center;
    line-height: 3.125rem;
    background-color: #ffcc00;
    color: #000;
    border: none;
    font-weight: 500;
    font-size: 1.125rem;
    text-decoration: none;
    cursor: pointer;
    margin-bottom: 5rem;
}

@media screen and (max-width: 1200px) {
    .main__prices-block-button {
        max-width: 358px;
        width: 100%;
        height: 71px;
        margin-bottom: 1.75rem;
        font-size: 1.75rem;
        line-height: 71px;
    }
}

@media screen and (max-width: 400px) {
    .main__prices-block-button {
        max-width: 290px;
        width: 100%;
        height: 60px;
        font-size: 1.25rem;
        line-height: 60px;
    }
}

.main__prices-block-button:hover {
    background-color: #ffbb00;
}

.main__prices-block-button-all {
    display: none;
}

@media screen and (max-width: 1200px) {
    .main__prices-block-button-all {
        display: block;
        text-align: center;
        line-height: 131%;
        color: #333333;
        border: none;
        font-weight: 500;
        font-size: 1.5625rem;
        cursor: pointer;
    }
}

@media screen and (max-width: 400px) {
    .main__prices-block-button-all {
        font-size: 1rem;
        line-height: 131%;
    }

}

/*autos*/

.main__autos {
    max-width: 63.75%;
    margin: 0 auto;
    margin-top: 6.375rem;
    padding-bottom: 2.875rem;
}

@media screen and (max-width: 1200px) {
    .main__autos {
        max-width: 100%;
    }
}

.main__autos-title-container {
    text-align: center;
    margin-bottom: 6rem;
}

@media screen and (max-width: 1200px) {
    .main__autos-title-container {
        margin-bottom: 2.875rem;
    }
}

@media screen and (max-width: 400px) {
    .main__autos-title-container {
        margin-bottom: 0rem;
    }
}

.main__autos-title {
    font-size: 1.875rem;
    font-weight: 600;
}

@media screen and (max-width: 400px) {
    .main__autos-title {
        font-size: 1.25rem;
    }
}

.main__autos-subtitle {
    font-size: 1.5rem;
    font-weight: 600;
}

@media screen and (max-width: 400px) {
    .main__autos-subtitle {
        font-size: 1rem;
    }
}

.main__autos-tabs {
    display: flex;
    justify-content: center;
    gap: 1.25rem;
    margin-bottom: 2.875rem;
}

@media screen and (max-width:400px) {
    .main__autos-tabs {
        margin-bottom: 0;
    }
}

.main__autos-tab-btn {
    max-width: 200px;
    width: 100%;
    height: 50px;
    text-align: center;
    line-height: 3.125rem;
    background-color: var(--process-bg-color);
    color: #000;
    border: 1px solid #EBEBEB;
    font-weight: 500;
    font-size: 1.125rem;
    text-decoration: none;
    cursor: pointer;
    transition: border-color 0.3s;
}

.main__autos-tab-btn:hover {
    border-color: #FED100;
}

.main__autos-tab-btn--active {
    border-color: #FED100;
}

@media screen and (max-width: 1200px) {
    .main__autos-tab-btn {
        max-width: 180px;
        width: 100%;
        height: auto;
        text-align: center;
        border: none;
        font-size: 1.5rem;
        transition: text-decoration-color 0.3s;
    }

    .main__autos-tab-btn:hover {
        text-decoration: underline;
        text-decoration-color: #FED100;
    }

    .main__autos-tab-btn--active {
        text-decoration: underline;
        text-decoration-color: #FED100;
    }
}

@media screen and (max-width:400px) {
    .main__autos-tab-btn {
        font-size: 0.875rem;

    }
}

.main__autos-slider {
    display: flex;
    align-items: center;
    position: relative;
}

.main__autos-tab-content-wrapper {
    flex: 1;
    overflow: hidden;
    position: relative;
}

.main__autos-slides {
    display: flex;
    transition: transform 0.5s ease-in-out;
    touch-action: pan-y;
}

.main__autos-tab-content {
    flex: 0 0 100%;
    display: flex;
    align-items: center;
}

@media screen and (max-width:1200px) {
    .main__autos-tab-content {
        flex-direction: column;
    }

}

.main__autos-info {
    display: flex;
    flex-direction: column;
}

@media screen and (max-width: 1200px) {
    .main__autos-info {
        display: none;
    }
}

.main__autos-info-model {
    font-size: 1.5rem;
    font-weight: 500;
    margin-bottom: 2.125rem;
}

.main__autos-info-specs {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    list-style: none;
    padding: 0;
}

.main__autos-info-item {
    display: flex;
    align-items: start;
    line-height: 131%;
    font-weight: 400;
    font-size: 1rem;
    margin-bottom: 1.85rem;
}

.main__autos-info-item img {
    margin-right: 1rem;
}

.main__autos-info-btn {
    display: inline-block;
    max-width: 250px;
    width: 100%;
    height: 50px;
    text-align: center;
    line-height: 3.125rem;
    background-color: #ffcc00;
    color: #000;
    border: none;
    font-weight: 500;
    font-size: 1.125rem;
    text-decoration: none;
    cursor: pointer;
    margin-bottom: 5rem;
}

.main__autos-info-btn:hover {
    background-color: #ffbb00;
}

.main__autos-image {
    flex: 1;
    text-align: center;
}

.main__autos-image-img {
    max-width: 100%;
    height: auto;
    display: inline-block;
}

.main__autos-mobile-caption {
    display: none;
}

@media screen and (max-width: 1200px) {
    .main__autos-mobile-caption {
        display: flex;
        font-size: 1.25rem;
        font-weight: 400;
    }
}

@media screen and (max-width: 400px) {
    .main__autos-mobile-caption {
        display: flex;
        font-size: 0.75rem;
        font-weight: 400;
    }
}

.main__autos-arrow {
    border: none;
    background: none;
    cursor: pointer;
    transition: opacity 0.2s;
}

@media screen and (max-width:1200px) {
    .main__autos-arrow {
        display: none;
    }
}

.main__autos-arrow:hover {
    opacity: 0.7;
}

.main__autos-arrow--left {
    margin-right: 1rem;
}

.main__autos-arrow--right {
    margin-left: 1rem;
}

.main__autos-dots,
.main__autos-mobile-btn-wrapper {
    display: none;
}

@media screen and (max-width:1200px) {
    .main__autos-dots {
        display: flex;
        justify-content: center;
        gap: 0.75rem;
        margin: 1rem 0;
    }

    .main__autos-dot {
        width: 8px;
        height: 8px;
        border-radius: 50%;
        background-color: #2c2c2c;
        opacity: 1;
        transition: all 0.3s ease;
        cursor: pointer;
        position: relative;
        box-sizing: content-box;
        border: 6px solid #ffffff;
    }

    .main__autos-dot.active {
        background-color: transparent;
        border: 2px solid #FED100;
        width: 16px;
        height: 16px;
        opacity: 1;
    }

    .main__autos-dot.active::before {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        width: 10px;
        height: 10px;
        transform: translate(-50%, -50%);
        border-radius: 50%;
        background-color: #2c2c2c;
    }

    .main__autos-mobile-btn-wrapper {
        display: flex;
        margin: 0 auto;
        justify-content: center;
    }

    .main__autos-mobile-btn {
        display: inline-block;
        max-width: 250px;
        width: 100%;
        height: 50px;
        text-align: center;
        line-height: 3.125rem;
        background-color: #ffcc00;
        color: #000;
        border: none;
        font-weight: 500;
        font-size: 1.125rem;
        text-decoration: none;
        cursor: pointer;
        margin-bottom: 5rem;
        transition: background-color 0.2s;
    }

    .main__autos-info-btn:hover {
        background-color: #ffbb00;
    }
}